{% if 'k8s_first_master_node' in group_names %}
cluster-init: true
{% endif %}

{% if k3s_node_type == "master" %}
{{ k3s_base_config | combine(k3s_base_config_private, k3s_master_config, k3s_master_config_private, recursive=true) | to_nice_yaml }}
{% elif k3s_node_type == "worker" %}
{{ k3s_base_config | combine(k3s_base_config_private, recursive=true) | to_nice_yaml }}
{% endif %}
