[defaults]
inventory = inventory.ini
interpreter_python = /usr/bin/python3
roles_path = roles
nocows = true
vars_plugins_enabled = host_group_vars,community.sops.sops

[ssh_connection]
pipelining = true
